
<nav class="navbar">
  <ul class="nav-links">
    <li><a href="/admin/clases">Ver Clases</a></li>
    <li><a href="/admin/verAlumnos">Alumnos</a></li>
    <li><a href="/admin/verInscriptos">Inscriptos</a></li>
    <li><a href="/admin/inicio">Inicio</a></li>
  </ul>

  <div class="usuarioHeader">
    <span>Hola {{persona}}!</span>
    <a class="btn btn-teal" href="/admin/login/logout">
      Cerrar Sesión <i class="fas fa-sign-out-alt"></i>
    </a>
  </div>
</nav>


